.App {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: fixed;
}

@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
  font-family: 'News Cycle', sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Page Layout
****************************************************/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}
.container-fluid {
  width: 100%;
  max-width: 2180px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  transition: all ease 0.5s;
}
.mybg-dark {
  background: #503eff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
h3.my-heading {
  font-weight: bold;
}
li.nav-item {
  margin: 0 20px 0 0;
}
header {
  width: 100%;
  height: 100vh;
  background: url('https://images.pexels.com/photos/1345085/pexels-photo-1345085.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')
    no-repeat center center;
  background-size: cover;
  /*background: linear-gradient(#503eff, #08d4fd);*/
  /* background: linear-gradient(0deg, #08d4fd 0%, #503eff 100%);*/
  /*background: linear-gradient(#e66465, #9198e5);*/
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: #00fbff90;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
header .tophead {
  margin-top: 150px;
}
header .title-main {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
}
header .subtitle-main {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  line-height: 1.5em;
}

header .btn-explore {
  display: inline-block;
  padding: 8px 20px;
  /*width: 128px;*/
  font-size: 14px;
  background: #3dce8c;
  border: 1px solid #3dce8c;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #00000059;
}

header .btn-account {
  display: inline-block;
  padding: 8px 20px;
  /* width: 128px;*/
  font-size: 14px;

  border: 1px solid #ffffff;
  color: #4f44ff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #00000059;
}

.top-btn-block a {
  margin: 0 7px 0 0;
}

/***overview***/
.overview-wrap .title-overview {
  text-align: center;
  color: #3dce8c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 23px;
}
.overview-wrap .subtitle-overview {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  max-width: 660px;
  margin: 19px auto 103px;
  text-align: center;
}

/***skewed***/
.sesgoabajo {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
.sesgoarriba {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.contenedor {
  overflow: hidden;
  padding: 100px 5px;
}

/***our team***/
.our-team {
  position: relative;
  padding: 5rem 0;
}
.title-our-team {
  text-align: center;
  color: #3dce8c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 23px;
}
.subtitle-our-team {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  max-width: 660px;
  margin: 19px auto 103px;
  text-align: center;
}

/***overview***/
.overview-box {
  height: 340px;
  width: 100%;
  text-align: center;
  padding: 35px 20px;
}
.overview-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 1s;
}
.overview-box h5 {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #606060;
  margin-bottom: 20px;
}
.overview-box p {
  font-size: 14px;
  color: #666666;
}
.features-icons-icon {
  vertical-align: middle;
  margin: 20px auto;
}
.features-icons-icon i {
  color: lightgrey;
}
.overview-box:hover .features-icons-icon i.html5 {
  color: #e54d26;
  transition: all ease 1s;
}
.overview-box:hover .features-icons-icon i.css3 {
  color: #379ad5;
  transition: all ease 1s;
}
.overview-box:hover .features-icons-icon i.android {
  color: #a4c739;
  transition: all ease 1s;
}
.overview-box:hover .features-icons-icon i.drupal {
  color: #0c76ab;
  transition: all ease 1s;
}

/***gallery***/

.galeria {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.imagenes {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enmica {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.815);
}
.enmica h2 {
  position: relative;
  top: 45%;
  text-align: center;
  color: #ffffff;
}
.enmica div {
  position: relative;
  display: block;
  top: 46%;
  width: 40px;
  height: 5px;
  background: #ffffff;
  margin: auto;
}

/***testimonial***/
.testimonials-wrap {
  background: linear-gradient(0deg, #08d4fd 0%, #503eff 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 8rem 0 12rem;
}
.title-testimonials {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 23px;
}
.subtitle-testimonials {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
  max-width: 660px;
  margin: 19px auto 103px;
  text-align: center;
}
.slide-one {
  padding: 30px 70px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #00000059;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}
.banner-slide img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}
.banner-slide h5 {
  color: #046ab3;
  font-weight: 700;
  margin: 15px 0;
}
.banner-slide h6 {
  font-size: 15px;
  color: #000;
  margin-bottom: 45px;
  font-weight: 600;
}
.banner-slide p {
  color: #000;
  font-size: 16px;
}
.carousel-control-prev {
  left: -175px;
}
.carousel-control-next {
  right: -175px;
}

.carousel-indicators {
  bottom: -70px;
}

/******/
.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-team .mycard-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #ffffff;
  margin-bottom: 2rem;
}
.our-team .mycard-block:hover {
  border: 3px solid #503eff;
}

.our-team .mycard-block img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
}
.our-team .mycard-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.our-team .mycard-block h3 a {
  text-decoration: none;
  color: #606060;
  font-weight: 700;
}
.our-team .mycard-block h3 a:hover {
  color: #337ab7;
}
.our-team .mycard-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-team .mycard-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.btn-circle {
  border-radius: 50%;
}
.my-social-btn {
  background: lightgrey;
}
a.btn.btn-circle.my-social-btn {
  color: #fff;
  height: 40px;
  width: 40px;
}
.mycard-block:hover .my-social-btn.fb {
  background: #205b9f;
}
.mycard-block:hover .my-social-btn.twitter {
  background: #00ace3;
}
.mycard-block:hover .my-social-btn.google {
  background: #ff3921;
}

/******blog******/

section#blog {
  position: relative;
  padding: 7rem 0;
}
section#blog .card {
  margin-bottom: 2rem;
}
section#blog .card-text {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  padding-bottom: 20px;
}
section#blog .title-blog {
  text-align: center;
  color: #3dce8c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 23px;
}
section#blog .subtitle-blog {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  max-width: 660px;
  margin: 19px auto 103px;
  text-align: center;
}
.card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.card a {
  color: #503eff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

/******contact wrap******/

section.contact-wrap {
  padding: 5rem 0;
  position: relative;
  background: url('https://images.pexels.com/photos/1011329/pexels-photo-1011329.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')
    no-repeat center center fixed;
  background-size: cover;
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.cta .cta-inner {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 3rem;
  margin: 0.5rem;
  box-shadow: 0px 0px 10px 0px #00000059;
}
.contactForm {
  width: 100%;
  max-width: 484px;
  border-radius: 5px;
  margin: auto;
  padding: 30px 40px 20px;
}
.contactForm .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #222222;
  background-color: transparent !important;
  color: #222222;
  margin-bottom: 2rem;
  outline: none;
}
.contactForm ::placeholder {
  color: #222222;
}
input.btn-login {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #3dce8c;
  border: 1px solid #3dce8c;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 50px;
  outline: none;
  box-shadow: 0px 0px 10px 0px #00000059;
}

/* Footer */
footer.footer {
  padding: 4rem 0;
}
footer.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer.footer p {
  font-size: 18px;
  color: #dcdcdc;
}

/***responsive---/

@media only screen and (min-width: 960px) and (max-width: 1023px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.enmica h2{font-size:15px;}
/******/
.testimonials {
  padding: 18rem 0;
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .enmica h2 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  header .tophead {
    margin-top: 145px;
  }
  header .title-main {
    font-size: 28px;
  }
  header .subtitle-main {
    font-size: 13px;
  }
  header .btn-explore {
    padding: 5px 8px;
    font-size: 13px;
  }
  header .btn-account {
    padding: 5px 8px;
    font-size: 13px;
  }
  /******/
  .overview .title-overview {
    font-size: 28px;
  }
  .overview .subtitle-overview {
    font-size: 14px;
  }
  /******/
  .title-our-team {
    font-size: 28px;
  }
  .subtitle-our-team {
    font-size: 14px;
  }
  /******/
  .title-testimonials {
    font-size: 28px;
  }
  .subtitle-testimonials {
    font-size: 14px;
  }
  /******/
  .slide-one {
    padding: 30px 25px;
  }
  /******/
  section#blog .title-blog {
    font-size: 28px;
  }
  section#blog .subtitle-blog {
    font-size: 14px;
  }
  /******/
  .contactForm {
    padding: 0;
  }
  .contact-wrap h2 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
  header .tophead {
    margin-top: 145px;
  }
  header .title-main {
    font-size: 25px;
  }
  header .subtitle-main {
    font-size: 13px;
  }
  header .btn-explore {
    padding: 5px 8px;
    font-size: 13px;
  }
  header .btn-account {
    padding: 5px 8px;
    font-size: 13px;
  }
  /******/
  .overview .title-overview {
    font-size: 25px;
  }
  .overview .subtitle-overview {
    font-size: 14px;
  }
  /******/
  .title-our-team {
    font-size: 25px;
  }
  .subtitle-our-team {
    font-size: 14px;
  }
  /******/
  .title-testimonials {
    font-size: 25px;
  }
  .subtitle-testimonials {
    font-size: 14px;
  }
  /******/
  .slide-one {
    padding: 30px 25px;
  }
  /******/
  section#blog .title-blog {
    font-size: 25px;
  }
  section#blog .subtitle-blog {
    font-size: 14px;
  }
  /******/
  .contactForm {
    padding: 0;
  }
  .contact-wrap h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 320px) {
  header .tophead {
    margin-top: 125px;
  }
  header .title-main {
    font-size: 18px;
  }
  header .subtitle-main {
    font-size: 13px;
  }
  header .btn-explore {
    padding: 5px 8px;
    font-size: 13px;
  }
  header .btn-account {
    padding: 5px 8px;
    font-size: 13px;
  }
  /******/
  .overview .title-overview {
    font-size: 25px;
  }
  .overview .subtitle-overview {
    font-size: 14px;
  }
  /******/
  .title-our-team {
    font-size: 25px;
  }
  .subtitle-our-team {
    font-size: 14px;
  }
  /******/
  .title-testimonials {
    font-size: 25px;
  }
  .subtitle-testimonials {
    font-size: 14px;
  }
  /******/
  .slide-one {
    padding: 30px 25px;
  }
  /******/
  section#blog .title-blog {
    font-size: 25px;
  }
  section#blog .subtitle-blog {
    font-size: 14px;
  }
  /******/
  .contactForm {
    padding: 0;
  }
  .contact-wrap h2 {
    font-size: 25px;
  }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 260px;
  max-width: 260px;
  background: #004085;
  color: #fff;
  margin-left: -260px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar.is-closed {
  margin-left: -260px;
  transition: 0.5s;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
  color: #7386d5;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}
/* ---------------------------------------------------
    RESUME STYLE
----------------------------------------------------- */

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-gray {
  color: #999;
}

.media {
  padding-top: 10px;
}
.media a:hover,
.media a:focus {
  text-decoration: none;
  outline: none;
}
.media .media-left .icon {
  display: block;
  width: 10px;
  height: 10px;

  color: #f0f0f0;
  text-align: center;
  border-radius: 50%;
}
.media .media-left .icon::before {
  font-size: 10px;
}
.CV-u-nowrap {
  white-space: nowrap;
}
.CV-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em;
  color: #222;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
@media all and (max-width: 500px) {
  .CV-page {
    padding: 0 1em;
  }
}
.CV-page a {
  color: rgba(34, 34, 34, 0.15);
  text-decoration: underline;
}
.CV-page a span {
  color: rgba(14, 118, 158, 0.7);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.CV-page a:hover span {
  color: #00aef0;
}
.CV-page a:active {
  display: inline-block;
  -webkit-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}
.CV-page abbr {
  border-color: rgba(34, 34, 34, 0.25);
}
.CV-page hr {
  width: 30%;
  height: 0;
  margin: 1em auto;
  border: none;
  border-top: solid 1px #00aef0;
}
/* if IE<=7 */
.CV-page\ {
  width: 1100px;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

/* Projects 
****************************************************/
.pb-100 {
  padding-bottom: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
a {
  text-decoration: none;
  color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.section-title {
  position: relative;
}
.section-title p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}
.section-title h4 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
}
.section-title h4::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 2px;
  background-color: #d8d8d8;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.section-title h4::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #ff7200;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}
.blog-img {
  position: relative;
}
.blog-img img {
  width: 100%;
}
.post-category a {
  display: inline-block;
  background-color: #ff7200;
  color: #fff;
  font-size: 15px;
  padding: 5px 20px;
}
.single-blog:hover img {
  opacity: 0.85;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
}
.post-category {
  position: absolute;
  left: 0;
  bottom: 0;
}
.blog-content {
  padding: 30px 20px;
}
.single-blog {
  border: 1px solid #eee;
}
.blog-title h4 {
  font-size: 14px;

  font-weight: 500;
  margin-bottom: 5px;
}
.meta ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.meta {
  margin-bottom: 20px;
  opacity: 0.85;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
}
.blog-content a.box_btn {
  display: inline-block;
  background-color: #ff7200;
  padding: 5px 15px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 20px;
}
a.box_btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #cc5b00;
  left: -100%;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
a.box_btn {
  overflow: hidden;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  text-decoration: none;
}
a.box_btn:hover::before {
  left: 0;
  z-index: -1;
}

/* Headings
****************************************************/
.CV-primaryHeading {
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.CV-primaryHeading-name {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.1em;
  font-size: 1.3em;
  line-height: 0.9;
}
.CV-primaryHeading-position {
  display: block;
  text-align: center;
  font-size: 0.5em;
  line-height: 1;
  color: #00aef0;
  font-style: italic;
}
.CV-secondaryHeading {
  position: relative;
  margin: 2em 0 0;
  text-transform: uppercase;
}
.CV-secondaryHeading:before {
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.5em 0 -0.2em;
  border: 2px solid #00aef0;
  border-left: none;
  border-bottom: none;
  -webkit-transform: scaleX(0.75) rotate(45deg);
  transform: scaleX(0.75) rotate(45deg);
}
.CV-tertiaryHeading {
  margin-top: 0;
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}
/* Details
****************************************************/
.CV-detail {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  line-height: 1.2;
  font-size: 0.9em;
  text-decoration: none;
}
/* SVG icons */
.CV-detail {
  padding-left: 56px;
}
.CV-detail:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 14px;
  width: 34px;
  height: 34px;
  margin-top: -14px;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #222;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.CV-detail--address:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_address.svg');
}
.CV-detail--phone:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_phone.svg');
}
.CV-detail--email:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_email.svg');
}
.CV-detail--twitter:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_email.svg');
}
.CV-detail--linkedin:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_linkedin.svg');
}
.CV-detail--website:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_web.svg');
}
.CV-detail--blog:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_tumblr.svg');
}
.CV-detail--experiments:before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/CV_icons_codepen.svg');
}
/* end if SVG */
.CV-detail-key {
  display: inline-block;
  color: #222;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-font-smoothing: antialiased;
}
.CV-detail-val {
  display: inline-block;
  color: rgba(14, 118, 158, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-font-smoothing: antialiased;
}
@media all and (max-width: 500px) {
  .CV-detail-val {
    display: block;
    border-bottom: none;
  }
}
@media all and (min-width: 500px) {
  .CV-detail {
    width: 50%;
    vertical-align: middle;
  }
  .CV-detail-val {
    display: block;
  }
}
@media all and (min-width: 700px) {
  .CV-detail {
    width: 33%;
  }
}
.CV-detail:hover::before,
.CV-detail:focus::before {
  background-color: #bdedff;
}
.CV-detail:hover .CV-detail-key,
.CV-detail:focus .CV-detail-key,
.CV-detail:hover .CV-detail-val,
.CV-detail:focus .CV-detail-val {
  color: #00aef0;
  -webkit-transform: translateX(0.3em);
  transform: translateX(0.3em);
}
/* Blurb
****************************************************/
.CV-introBlurb {
  /*TEMP display:none; */
  width: 90%;
  margin: 2em auto 1em auto;
  text-align: left;
  font-size: 1.1em;
}
@media screen and (max-width: 500px) {
  .CV-introBlurb {
    width: 100%;
  }
}
/* Grid
****************************************************/

/* Timeline
****************************************************/
.CV-timeline {
  position: relative;
  margin: 0 0 0 0.5em;
  padding-left: 1.5em;
  border-left: solid 1px #222;
}
.CV-timeline:first-of-type {
  margin-top: 1em;
}
.CV-timeline:last-of-type {
  border-left-color: transparent;
}
.CV-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.5em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid 1px #222;
  background-color: #fff;
  border-radius: 50%;
}
.CV-timeline-heading {
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  line-height: 1em;
  font-weight: normal;
  -webkit-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}
.CV-timeline-heading-title {
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  text-transform: uppercase;
}
.CV-timeline-heading-location {
  font-size: 0.9em;
}
.CV-timeline-heading-duration {
  display: block;
  font-size: 0.8em;
  color: #6f6f6f;
}
.CV-timeline-details {
  display: block;
  margin: 0;
  padding-bottom: 2em;
  padding: 0 0 2em 1em;
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQIW2NkYGD4D8TIgJERTQDMpVAQAGaUAQbko3DsAAAAAElFTkSuQmCC');
}
.CV-timeline-details-item {
  margin-bottom: 0.5em;
}
/* Skills
****************************************************/
/* END 
****************************************************/
.CV-referees {
  margin-bottom: 4em;
}
.CV-disclaimer {
  margin-top: 4em;
  font-size: 0.8em;
  text-align: right;
  font-variant: small-caps;
  color: #a2a2a2;
}
/* PRINT STYLES
****************************************************/
@media print {
  .CV-page {
    font-size: 0.7em;
  }
  .CV-pageBreakBefore {
    page-break-before: always;
  }
  .svg .CV-detail {
    padding-left: 44px;
  }
  .svg .CV-detail:before {
    left: 11px;
    width: 28px;
    height: 28px;
    margin-top: -11px;
    background-size: 22px;
  }
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding-left: 0px;
  margin-left: 0;
  height: 100vh;
  max-width: 2800px;
  overflow: scroll;
}

@media only screen and (min-width: 804px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow: scroll;
  }

  .content.is-open {
    margin-left: 100%;
  }
  .content {
    padding-left: 0px;

    height: 100vh;
    max-width: 2200px;
    overflow: scroll;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    display: none;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
